header {
  background: linear-gradient(315deg, #2966c2, #2865c2, #1e4b8f);
  width: 100%;
  padding: 1.6rem 1.6rem 0;
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.circle {
  background: #fff2;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}

.circle1 {
  height: 12rem;
  width: 12rem;
  bottom: -10%;
  right: 11rem;
}

.circle2 {
  height: 26rem;
  width: 26rem;
  bottom: -3rem;
  right: -8rem;
}

.boxMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff4;
  animation: slideTopDown 1s;
}

.imageLogo {
  width: 4.8rem;
}

.imageLogo img {
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: white;
  font-size: clamp(1.2rem, 3.2vw, 2.4rem);
  white-space: nowrap;
  text-shadow: 1px 1px 1px #0002;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

nav a:hover {
  background: #fff2;
}

.containerSlogan {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boxSlogan {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.6rem;
}

.boxSlogan h1 {
  font-size: 2.4rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px #0002;
  animation: typing 3s 1s steps(25) both;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Kalam", cursive;
  font-weight: 500;
  font-style: normal;
}

.boxSlogan p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px #0002;
  animation: fadeIn 5s;
}

.boxImageHumanCego img {
  width: 14rem;
  position: relative;
  z-index: 1;
  animation: slideRightLeft 1s;
}

@media (min-width: 768px) {
  header {
    padding: 2.4rem 2.4rem 0;
  }

  .circle1 {
    height: 18rem;
    width: 18rem;
    bottom: -20%;
    right: 15rem;
  }

  .circle2 {
    height: 38rem;
    width: 38rem;
    bottom: -5rem;
    right: -15rem;
  }

  .boxMenu {
    border-bottom: 1.25px solid #fff4;
  }

  .imageLogo {
    width: 2.4rem;
  }

  nav ul {
    gap: 1rem;
  }

  .containerSlogan {
    margin-top: 1rem;
  }

  .boxSlogan {
    max-width: 42rem;
    gap: 2rem;
  }

  .boxSlogan h1 {
    font-size: 3.2rem;
    animation: typing 4s 1s steps(35) both;
  }

  .boxSlogan p {
    font-size: 1.6rem;
  }

  .boxImageHumanCego img {
    width: 24rem;
  }
}

@media (min-width: 1024px) {
  .circle1 {
    height: 26rem;
    width: 26rem;
    bottom: -20%;
    right: 20rem;
  }

  .circle2 {
    height: 56rem;
    width: 56rem;
    bottom: -10rem;
    right: -20rem;
  }

  .boxMenu {
    border-bottom: 1.5px solid #fff4;
  }

  .imageLogo {
    width: 5.0rem;
  }

  nav ul {
    gap: 1rem;
  }

  .containerSlogan {
    margin-top: 1rem;
  }

  .boxSlogan {
    max-width: 64rem;
    gap: 2.4rem;
  }

  .boxSlogan h1 {
    font-size: 6.2rem;
    animation: typing 5s 1s steps(35) both;
  }

  .boxSlogan p {
    font-size: 2.4rem;
  }

  .boxImageHumanCego img {
    width: 32rem;
  }
}

@media (min-width: 1440px) {
  .circle1 {
    height: 32rem;
    width: 32rem;
    bottom: -30%;
    right: 25rem;
  }

  .circle2 {
    height: 62rem;
    width: 62rem;
    bottom: -10rem;
    right: -20rem;
  }

  .boxMenu {
    border-bottom: 1.5px solid #fff4;
  }

  .imageLogo {
    width: 6.4rem;
  }

  nav ul {
    gap: 1.5rem;
  }

  .containerSlogan {
    margin-top: 1rem;
  }

  .boxSlogan {
    max-width: 64rem;
    gap: 2.4rem;
  }

  .boxSlogan h1 {
    font-size: 6.2rem;
    animation: typing 5s 1s steps(35) both;
  }

  .boxSlogan p {
    font-size: 2.4rem;
  }

  .boxImageHumanCego img {
    width: 36rem;
  }
}
